.ls-search {
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	display: box;
	padding: 20px;
	font-size: 16px;
	line-height: 1.24;
	width: 424px;
}

.ls-title {
	font-size: 16px;
	padding: 4px 0;
}

.ls-container {
	margin-top: 10px;
}

.ls-container p {
	color: #808080 !important;
	font-size: 13px;
}

.ls-container ul li {
	list-style: none;
}

.ls-container li {
	margin-bottom: 23px !important;
}

.ls-description {
	color: #545454;
	font-size: small;
}

.ls-description a, .ls-description a:visited {
	color: #545454 !important;
}

.ls-link a {
	color: #006621 !important;
	font-style: normal;
	font-size: 13px;
}

.ls-date {
	color: #808080;
	font-size: small;
}

.ls-more {
	margin-top: 20px;
	color: #808080 !important;
	font-size: small;
}

.ls-detail {
	color: #808080 !important;
	font-size: small;
}

.ls-more div {
	display: inline;
}

.ls-login {
	color: #808080 !important;;
	font-size: small;
}

.ls-login a {
	color: #808080 !important;;
}

.ls-login a:visited {
	color: #808080 !important;;
}

.ls-share a, .ls-share a:visited {
	color: #777;
	font-size: 11px;
	line-height: normal;
	margin-right: 8px;
}

.ls-right {
	float: right;
}

.ls-icon {
	height: 13px;
	width: 13px;
	display: inline-block;
}

.ls-icon-avatar {
	display: inline-block;
	vertical-align: top;
	width: 26px;
	height: 26px;
	border-radius: 100%;
}
